<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!-- define various log targets -->
  <targets>

    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="coloredConsoleEvent" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${event-properties:value1}|${event-properties:value2}|${event-properties:value3}|${event-properties:value4}|${event-properties:value5:format=yyyy-MM-dd HH\:mm\:ss.fff}|${event-properties:value6}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="fileEvent" xsi:type="File" fileName="${basedir}/logs/events-${shortdate}.log"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${event-properties:value1}|${event-properties:value2}|${event-properties:value3}|${event-properties:value4}|${event-properties:value5:format=yyyy-MM-dd HH\:mm\:ss.fff}|${event-properties:value6}" />

    <target name="databaseEvent" xsi:type="Database"
            connectionString="server=.;Database=EventLog;user id=sa;password=Admin1234@"
            commandType="StoredProcedure"
            commandText="[dbo].[LogEventInsert]">

      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Service" layout="MachineInfluxDataService" />
      <parameter name="@TraceType" layout="${event-properties:value1}" />
      <parameter name="@Event" layout="${event-properties:value2}" />
      <parameter name="@ParentGuid" layout="${event-properties:value3}" />
      <parameter name="@Guid" layout="${event-properties:value4}" />
      <parameter name="@CreatedAt" layout="${event-properties:value5:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@Description" layout="${event-properties:value6}" />
    </target>

  </targets>

  <rules>
    <logger name="EventLogger" minlevel="Debug" writeTo="databaseEvent" />
    <logger name="EventLogger" minlevel="Debug" writeTo="coloredConsoleEvent" final="true"/>
    <logger name="*" minlevel="Info" writeTo="coloredConsole" />
    <!--<logger name="EventLogger" minlevel="Debug" writeTo="fileEvent" />-->
    
    <!--<logger name='*' writeTo='file'></logger>-->
  </rules>
</nlog>